<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>How this Web App Works</title>
    <link rel="stylesheet" href="/style.css">

</head>
<body>
<div class="container">
    <div class="card">
<h1 align="center">How this Web App Works</h1>
    <p>This application is designed to help track student payments,
    showing who has paid in advance and who still owes.</p>
<h2>Add Students</h2>
    <p>Clicking the Add Student link allows you to add new students to the system. 
        You can also delete students if needed.</p>
<h2>Create Periods</h2>
    <p>Click Create Period to set up a payment period you want to track. 
        For example, you can create a period called “First 7 Days” with a target of $7. This means that each student should pay $7 during the first 7 days. 
        Once created, save the period.</p>
<h2>Periods</h2>
    <p>After creating a period, it will appear on the homepage. 
    Clicking the period will display all students in the system, 
    allowing you to manage their payments.</p>
<h2>Manage Payments</h2>
<p>Each student has an input field to add payments and a link to view payment history. 
    When you add a payment, the total paid will appear next to the student’s name. Additional payments are automatically summed. 
    By clicking View Payments, you can see the full payment history along with dates.</p>
<h2>Students paid in advance</h2>
<p>By clicking Students paid in advance link, 
    Students who have paid more than the target amount for the period will be appear in that page. 
    This allows you to easily identify which students have fulfilled their payment obligations and which ones still owe money.</p>
<h2>Students with credit</h2>
<p>By clicking Students with credit link, 
    Students who have not yet paid the full amount for the period will be displayed in that page.</p>

<a href="/home">Back to Home</a>
</div>
</div>
</body>
</html>