<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="/style.css">
<title>Master's Students Payment Tracker</title>
</head>
<body align="center">
    <h1 id="h1">Master's Students <br>Payment Tracker</h1>
    <br>
<div class ="container">
<div class="card">
    <h2>Students Payment Tracker</h2>
    <p>Enter your password to login</p>

    <form method="POST" action="/login">
        <input type="password" name="password" placeholder="Enter password" required>
        <button type="submit">Login</button>
    </form>
</div>
</div>

</body>
</html>