body {
    font-family: Arial, sans-serif;

    background-image: url('/01.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    

    min-height: 100vh;

    color: #111;
    padding: 15px;
}

.new {
    align-items: center;
    display: flex;
   flex-direction: column;
}
#h1 {
    text-align: center;
    font-size: 60px;
}
/* HEADER / TITLE */
h2 {
    text-align: center;
    padding: 15px;
    margin: 0;
}

.tar{
    font-size: 30px;
}

/* CONTAINER */
.container {
    width: 95%;
    max-width: 900px;
    margin: auto;
    padding: 10px;
}

/* LINKS */
a {
    text-decoration: none;
    font-size: x-large;
    color: #007bff;
}

a.a {
    margin-left: 10px;
    color: red;
}
li {
    margin: 11px 0;
}

/* BUTTON */
button {
    background: #007bff;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 12px;
    cursor: pointer;
    width: 130px;
}

button:hover {
    background: #0056b3;
}

/* INPUTS */
input {
    padding: 8px;
    width: 50%;
    height: 37px;
    margin: 5px 0;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: larger;
}

/* CARD STYLE */
.card {
    background: white;
    padding: 15px;
    margin: 10px ;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    
}

/* TABLE (MOBILE FRIENDLY) */
table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    border-radius: 10px;
    overflow: hidden;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

/* MOBILE RESPONSIVE */
@media screen and (max-width: 600px) {
  body {
    font-size: 18px; /* slightly larger text for readability */
  }

  h1 {
    font-size: 2rem;
  }
  h2 {
    font-size: 1.8rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  button, a, input, select, textarea {
    font-size: 1.2rem; /* bigger text for buttons & inputs */
    padding: 15px 25px; /* more touch-friendly padding */
  }
}